[Desktop Entry]
Name=Yolite
Comment=Lightweight YouTube Music client
Exec=yolite
Icon=yolite
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
StartupWMClass=Yolite
